server:
  port: 8091

spring:
  application:
    name: mes-eureka-client

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
